<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heng.soar.modelCore.mapper.UserMapper">

<select id="getUserByName" parameterType="string" resultType="com.heng.soar.model.User">
	select id,userName username,password from t_user where username = #{name}
</select>

 <resultMap type="com.heng.soar.model.Role" id="rolePermissions">
 		<id column="id" property="roleId" />
        <result column="rolename" property="roleName" />
         <collection property="permissions" ofType="com.heng.soar.model.Permission">
	         <id column="perId" property="id"/>
	         <result column="permissionname" property="name" />
	          <result column="id" property="roleId" />
         </collection>
 </resultMap>
<select id="getRolesByUser" parameterType="com.heng.soar.model.User" resultMap="rolePermissions">
	SELECT t1.id,t1.rolename,t2.id perId,t2.permissionname 
	FROM t_role t1,t_permission t2,t_user_role t3  
	where t1.id =t2.role_id 
	and t1.id=t3.role_id and t3.user_id=#{id}
</select>
</mapper>