<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
	<body>
		<form style="width:300px;margin:300px auto " method="post" action="login">
			<div style="height:35px;">用户名1heng11113:<input name="userName"/></div>
			<div  style="height:35px;">密&nbsp;码:<input name="password"/></div>
			<div  style="height:35px;text-align:center;"> <input type='submit' value="提交"/></div>
		</form>
	
	</body>

</html>